{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",

    "SqlConnectionString": "Server=tcp:market4u-sql-server.database.windows.net,1433;Initial Catalog=market4u-db;User Id=YOUR_USER;Password=YOUR_PASSWORD;Encrypt=True;TrustServerCertificate=False;",

    "AUTH_SECRET": "change-this-to-a-random-string-min-32-characters-long",

    "AZURE_STORAGE_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=YOUR_ACCOUNT;AccountKey=YOUR_KEY;EndpointSuffix=core.windows.net",
    "AZURE_STORAGE_CONTAINER": "product-images",

    "GEMINI_API_KEY": ""
  },
  "Host": {
    "CORS": "http://localhost:3000,http://localhost:5173",
    "CORSCredentials": true
  }
}
